.fitems{
    width: 200px;
    height: 200px;
    margin: 20px;
    align-content: center;
    background-color: rgb(0, 38, 128);
    color:white;
    font-size: 20px;
    border-radius: 10px;
    border-color: chartreuse;
    border-width: 10px;
    border-style: double;
}
.fcontainer{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    
}
.item1{
    order: 2;
}